extends layout 

block content 

  h1=title 
  h2=brand_detail.name

  p Cars:
    if cars_in_brand.length
      ul 
        each car in cars_in_brand
          a(href=car.url) #{car.name}
    else 
      p No cars in this brand.
  
  hr
  p
    a(href=`${brand_detail.url}/delete`) Delete brand
  hr
  p
    a(href=`${brand_detail.url}/update`) Update brand