extends layout 

block content 

  div(class="flex-col-gap")
    h1=title 
    h2=category_detail.name
    h3=category_detail.description

    if cars_in_category.length > 0 
      each car in cars_in_category 
        div(class="flex-row")
          a(href=car.url ) #{car.name} 
          span || #{car.brand.name}
    else 
      p This category has no cars.   
    div
      hr
      p
        a(href=`${category_detail.url}/delete`) Delete category
  
      hr
      p
        a(href=`${category_detail.url}/update`) Update category