extends layout 

block content 

  h1=title
  h2= category.name
  if cars_in_category.length>0
    p To be able to delete this category, first you need to delete all cars that depend on this category.
    p Check bellow the list of cars in this category: 
    div(class="list")
      each car in cars_in_category 
        a(href=car.url) #{car.name}
  else
    form(method="post") 
      input(type='hidden' name='category_id' value=category._id) 
      label(for="admin_password" name="admin_password") Admin Password: 
      input(type="text" name='admin_password') 
      button(type="submit") Delete